/* This stylesheet is released to the public domain according to the CC0
 * 1.0 Universal (CC0 1.0) Public Domain Dedication. See
 * https://creativecommons.org/publicdomain/zero/1.0/ for more
 * information.
*/

/* This file sets the colors for displaying source code. See
 * https://github.com/altercation/ethanschoonover.com/blob/master/resources/css/style.css
 * and
 * http://claireyu.org/posts/2013-12-24-hakyll-syntax-highlighting.html
 * for details.
*/

// Keywords
.sourceCode span.kw {
    color: $green;
}

// Data types
.sourceCode span.dt {
    color: $cyan;
}

// Decimal values
.sourceCode span.dv {
    color: $cyan;
}

// Values with base other than 10
.sourceCode span.bn {
    color: $cyan;
}

// Float values
.sourceCode span.fl {
    color: $cyan;
}

// Characters
.sourceCode span.ch {
    color: $green;
}

// Strings
.sourceCode span.st {
    color: $cyan;
}

// Comments
.sourceCode span.co {
    color: $lightest_gray;
    font-style: italic;
}

// Other
.sourceCode span.ot {
    color: $yellow;
}

// Warning messages
.sourceCode span.al {
    color: $red;
}

// Functions
.sourceCode span.fu {
    color: $blue;
}

// Region markers
.sourceCode span.re {
    color: $yellow;
}

// Errors
.sourceCode span.er {
    color: $red;
    font-weight: bold;
}
