// This stylesheet is released to the public domain according to the CC0
// 1.0 Universal (CC0 1.0) Public Domain Dedication. See
// https://creativecommons.org/publicdomain/zero/1.0/ for more
// information.

@import "common_import";

body {
    font-family: $serif_series;
    color: $almost_black;
    background: white;
}

div#navigation {
    font-size: $smaller_text;
    font-family: $sans_series;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $sans_series;
    line-height: 120%;
}

h1 {
    font-size: 140%;
}

h2 {
    font-size: 120%;
}

h3, h4, h5, h6 {
    font-size: 110%;
}

hr {
    border: 0 none;
    border-top: 2px solid $dark_gray;
    border-bottom: 1px solid $dark_gray;
    height: 4px;
}

a {
    text-decoration: none;
}

a:link {
    color: $wikiblue;
}

a:visited {
    color: $taro;
}

a:hover, a:active {
    text-decoration: underline;
}

// See http://code.stephenmorley.org/html-and-css/fixing-browsers-broken-monospace-font-handling/
// In particular:
// > Major web browsers automatically reduce the size of monospace text
// > in a range of situations. They do this due to the greater width of
// > many monospace typefaces in comparison to other fonts at the same
// > text height. While well-intentioned, their handling of monospace
// > fonts is fundamentally broken, and an unusual CSS rule is required to
// > fix the problem.
pre, code, kbd, samp, tt {
    font-family: $mono_series;
    font-size: 1em;
}

code {
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid $lightest_gray;
    border-radius: 2px 2px 2px 2px;
    // This is also necessary in "pre code"
    font-size: $smaller_text;
}

pre code {
    line-height: 120%;
    overflow: auto;
    // This is also necessary in "code"
    font-size: $smaller_text;
}
