/*
This stylesheet is released to the public domain according to the CC0
1.0 Universal (CC0 1.0) Public Domain Dedication. See
https://creativecommons.org/publicdomain/zero/1.0/ for more information.
*/

@import "colors";
@import "codecolors";

$smaller_text: 80%;

div#content {
    width: 93%;
    max-width: 5.5in;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}

div#navigation {
    // See http://stackoverflow.com/a/324553
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
}

h2 {
    border-bottom: 1px solid $lightest_gray;
}

code {
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid $lightest_gray;
    border-radius: 2px 2px 2px 2px;
}

pre code {
    display: block;
    overflow: auto;
    padding: 10px;
    max-height: 500px;
}

blockquote {
    margin: 0px;
    padding: 0px 0px 0px 16px; /*top right bottom left*/
    border-left: 4px solid $lightest_gray;
}

table {
    width: 100%;
    border-style: outset;
    border-collapse: separate;
    border-color: $darkest_gray;
    border-width: 1px;
    border-spacing: 2px;
}

table th {
    border-style: inset;
    border-color: $darkest_gray;
    border-width: 1px;
    padding: 3px;
}

table td {
    border-style: inset;
    border-color: $darkest_gray;
    border-width: 1px;
    padding: 3px;
}

dt {
    font-weight: bold;
}
