/* See http://ethanschoonover.com/solarized for the color values that have comments. */

body {
    color: #586e75; /*base01*/
    background: #fdf6e3; /*base3*/
    font-size: 16px;
    line-height: 1.4;
    font-family: Times, serif;
}

div#content {
    width: 80%;
    max-width: 5.5in;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

div#navigation {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    text-align: left;
    color: #073642; /*base02*/
    font-family: Helvetica, sans-serif;
}

h2 {
    border-bottom: 1px solid #93a1a1; /* base1 */
}

a:link {
    color: #268bd2; /*blue*/
}
a:visited {
    color: #d33682; /*magenta*/
}

pre code {
    display: block;
    overflow: auto;
    padding: 10px;
}

blockquote {
    margin: 0px;
    color: #657b83; /*base00*/
    padding: 0px 0px 0px 16px; /*top right bottom left*/
    border-left: 4px solid #93a1a1; /*base1*/
    /*background-color: #eee8d5; /*base2*/
}

code {
    padding-left: 4px;
    padding-right: 4px;
    /* For the old light-blue color use: */
        /*background-color: rgb(232, 248, 255);*/
        /*border: 1px solid rgb(162, 196, 208);*/
    background-color: #eee8d5; /*base2*/
    border: 1px solid #93a1a1; /*base1*/
    border-radius: 2px 2px 2px 2px;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
}

/*For displaying source code. See
 * https://github.com/altercation/ethanschoonover.com/blob/master/resources/css/style.css
 * and
 * http://claireyu.org/posts/2013-12-24-hakyll-syntax-highlighting.html
 * */

.sourceCode span.kw { color: #859900 } /* Keyword, green*/
.sourceCode span.dt { color: #2aa198 } /* Data types, cyan */
.sourceCode span.dv { }
.sourceCode span.bn { }
.sourceCode span.fl { }
.sourceCode span.ch { } /* Character,  */
.sourceCode span.st { color: #d33682 } /* String, magenta */
.sourceCode span.co { color: #93a1a1; font-style: italic } /* Comment, base01 */
.sourceCode span.ot { }
.sourceCode span.al { color: #dc322f } /* Warning messages, red */
.sourceCode span.fu { color: #b58900 } /* Function, yellow */
.sourceCode span.re { }
.sourceCode span.er { color: #dc322f; font-weight: bold } /* Error, red */
