/* See http://ethanschoonover.com/solarized for the color values that have comments. */

body {
    color: #586e75; /*base01*/
    background: #fdf6e3; /*base3*/
    font-size: 16px;
    line-height: 1.5;
    font-family: Palatino; serif;
}

#content {
    width: 80%;
    max-width: 6.5in;
    margin-left: auto;
    margin-right: auto;
}

#navigation { }

h1, h2, h3, h4 {
    color: #073642; /*base02*/
    font-family: Helvetica; Arial; sans-serif;
}

a:link {
    color: #268bd2; /*blue*/
}
a:visited {
    color: #d33682; /*magenta*/
}

pre code {
    display: block;
    overflow: auto;
    padding: 10px;
}

blockquote {
    margin: 0px;
    color: #657b83; /*base00*/
    padding: 0px 16px; /*top-bottom, right-left*/
    border-left: 4px solid #93a1a1; /*base1*/
    /*background-color: #eee8d5; /*base2*/
}

code {
    padding-left: 4px;
    padding-right: 4px;
    /* For the old light-blue color use: */
        /*background-color: rgb(232, 248, 255);*/
        /*border: 1px solid rgb(162, 196, 208);*/
    background-color: #eee8d5; /*base2*/
    border: 1px solid #93a1a1; /*base1*/
    border-radius: 2px 2px 2px 2px;
    font-family: 'Source Code Pro', monospace;
}

/*For displaying source code. See
 * https://github.com/altercation/ethanschoonover.com/blob/master/resources/css/style.css
 * and
 * http://claireyu.org/posts/2013-12-24-hakyll-syntax-highlighting.html
 * */

span.kw { color: #859900 } /* Keyword, green*/
span.dt { color: #2aa198 } /* Data types, cyan */
span.dv { }
span.bn { }
span.fl { }
span.ch { } /* Character,  */
span.st { color: #d33682 } /* String, magenta */
span.co { color: #93a1a1; font-style: italic } /* Comment, base01 */
span.ot { }
span.al { color: #dc322f } /* Warning messages, red */
span.fu { color: #b58900 } /* Function, yellow */
span.re { }
span.er { color: #dc322f; font-weight: bold } /* Error, red */
