// This stylesheet is released to the public domain according to the CC0
// 1.0 Universal (CC0 1.0) Public Domain Dedication. See
// https://creativecommons.org/publicdomain/zero/1.0/ for more
// information.

@import "colors";

$smaller_text: 80%;

// See
// https://github.com/gwern/gwern.net/blob/master/static/css/default.css
// for some of the choices of fonts. For a review of Linux Libertine,
// see
// https://zuttobenkyou.wordpress.com/2010/03/11/the-best-serif-font-in-the-world-linux-libertine/
$serif_series: "Linux Libertine O", "Linux Libertine", Georgia, "Nimbus Roman No9 L", serif;
$sans_series: "Lato", "Cabin", "Nimbus Sans L", Helvetica, Arial, Trebuchet, "Lucida Grande", sans-serif;
$mono_series: "Source Code Pro", "Andale Mono", Monaco, Consolas, Menlo, monospace;

body {
    font-family: $serif_series;
    color: $darkest_gray;
    background: $cream;
}

div#content {
    width: 93%;
    max-width: 29em;
    line-height: 140%;
    font-size: 108%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}

div#navigation {
    font-size: $smaller_text;
    font-family: $sans_series;
    // See http://stackoverflow.com/a/324553 ; this ensures that the
    // navigation links (left side) and search bar (right side) play
    // nicely
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    font-family: $sans_series;
    line-height: 120%;
}

h1 {
    font-size: 140%;
}

h2 {
    border-bottom: 1px solid $lightest_gray;
    font-size: 120%;
}

h3, h4, h5, h6 {
    font-size: 110%;
}

hr {
    border: 0 none;
    border-top: 2px solid $lightest_gray;
    border-bottom: 1px solid $lightest_gray;
    height: 4px;
}

a {
    text-decoration: none;
}

a:link {
    color: $blue;
}

a:visited {
    color: $cyan;
}

a:hover, a:active {
    text-decoration: underline;
}

// The following block must appear before setting the font sizes for
// 'code' and 'pre code'.
// See http://code.stephenmorley.org/html-and-css/fixing-browsers-broken-monospace-font-handling/
// In particular:
// > Major web browsers automatically reduce the size of monospace text
// > in a range of situations. They do this due to the greater width of
// > many monospace typefaces in comparison to other fonts at the same
// > text height. While well-intentioned, their handling of monospace
// > fonts is fundamentally broken, and an unusual CSS rule is required to
// > fix the problem.
pre, code, kbd, samp, tt {
    font-family: monospace,monospace;
    font-size: 1em;
}

pre, code, kbd, samp, tt {
    font-family: $mono_series;
}

code {
    padding-left: 4px;
    padding-right: 4px;
    background-color: $tan;
    // This is also necessary in "pre code"
    font-size: $smaller_text;
}

pre code {
    display: block;
    overflow: auto;
    padding: 10px;
    max-height: 30em;
    line-height: 120%;
    // This is also necessary in "code"
    font-size: $smaller_text;
}

blockquote {
    margin: 0px;
    padding: 0px 0px 0px 16px; /*top right bottom left*/
    border-left: 4px solid $lightest_gray;
    color: $dark_gray;
}

table {
    width: 100%;
    border-style: outset;
    border-collapse: separate;
    border-color: $darkest_gray;
    border-width: 1px;
    border-spacing: 2px;
}

table th {
    border-style: inset;
    border-color: $darkest_gray;
    border-width: 1px;
    padding: 3px;
}

table td {
    border-style: inset;
    border-color: $darkest_gray;
    border-width: 1px;
    padding: 3px;
}

dt {
    font-weight: bold;
}

// Colors for source code listings. See
// https://github.com/altercation/ethanschoonover.com/blob/master/resources/css/style.css
// and
// http://claireyu.org/posts/2013-12-24-hakyll-syntax-highlighting.html
// for details.

.sourceCode span.kw { color: $green; } // Keywords
.sourceCode span.dt { color: $yellow; } // Data types
.sourceCode span.dv { color: $cyan; } // Decimal values
.sourceCode span.bn { color: $cyan; } // Values with base other than 10 ("base n")
.sourceCode span.fl { color: $cyan; } // Float values
.sourceCode span.ch { color: $green; } // Characters
.sourceCode span.st { color: $cyan; } // Strings
.sourceCode span.co { color: $lightest_gray; font-style: italic; } // Comments
.sourceCode span.ot { color: $orange; } // Other
.sourceCode span.al { color: $red; } // Warning messages ("alert")
.sourceCode span.fu { color: $blue; } // Functions
.sourceCode span.er { color: $red; font-weight: bold; } // Errors
.sourceCode span.wa { color: $orange; font-weight: italic; } // Warnings
.sourceCode span.cn { color: $yellow; } // Constants
.sourceCode span.sc { color: $yellow; } // Special characters
.sourceCode span.vs { } // Verbatim string
.sourceCode span.ss { } // Special string
.sourceCode span.im { color: $orange; } // Import statements
.sourceCode span.va { } // Variables
.sourceCode span.cf { color: $green; } // Control-flow
.sourceCode span.op { color: $green; } // Operators
.sourceCode span.bu { color: $blue; } // Built-in functions(?)
.sourceCode span.ex { } // Extension
.sourceCode span.pp { } // Preprocessor
.sourceCode span.at { } // Attributes
.sourceCode span.do { } // Documentation
.sourceCode span.an { } // Annotation
.sourceCode span.cv { } // Comment variable -- variables that appear in comments?
.sourceCode span.in { } // Information
.sourceCode span.re { color: $yellow; } // Region markers -- do these still exist? Pandoc doesn't define these
