// This stylesheet is released to the public domain according to the CC0
// 1.0 Universal (CC0 1.0) Public Domain Dedication. See
// https://creativecommons.org/publicdomain/zero/1.0/ for more
// information.

@import "standard_import";

body {
    color: $darkest_gray;
    background: $cream;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
}

h2 {
    border-bottom: 1px solid $lightest_gray;
}

hr {
    border-top: 2px solid $lightest_gray;
    border-bottom: 1px solid $lightest_gray;
}

a:link {
    color: $blue;
}

a:visited {
    color: $cyan;
}

code {
    background-color: $tan;
    border: none;
}

blockquote {
    color: $dark_gray;
    border-left: 4px solid $lightest_gray;
}

table {
    border-color: $darkest_gray;
}

table th {
    border-color: $darkest_gray;
}

table td {
    border-color: $darkest_gray;
}
