<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/css/minimal.css" />
  <title>$title$</title>
</head>
<body>

<div id="navigation">
  <a href="/index">Home</a>
  | <a href="/contact">Contact</a>
  | <a href="https://github.com/riceissa/riceissa.com">Website source</a>
  | <a href="https://raw.githubusercontent.com/riceissa/riceissa.com/master/$path$">Page source</a>
</div>

<h1>$title$</h1>

$body$

</body>
</html>
