<div id="navigation">
  <!--
    See
      http://stackoverflow.com/questions/37103/css-make-divs-align-horizontally
    for how the div elements are managed.
  -->
  <div style="float:left;">
    <a href="{{ path }}index">Home</a>
    | <a href="{{ path }}about-me#contact">Contact</a>
    | View <a href="https://github.com/riceissa/riceissa.com">website source</a>{% if page.source %} or <a href="https://raw.githubusercontent.com/riceissa/riceissa.com/master/{{ page.source }}">page source</a>{% endif %} (<a href="{{ path }}information-regarding-website-source-and-page-source">note</a>)
  </div>
  <div style="float:right;">
    <!--
      See
        - http://stackoverflow.com/a/13379065/3422337
        - http://kaspars.net/blog/wordpress/how-to-add-google-site-search
        - http://www.vanderbilt.edu/searchsupport/code-samples.php
    -->
    <form name="site-search" action="https://github.com/riceissa/riceissa.com/search" method="get">
      <input name="utf8" type="hidden" value="✓" />
      <input name="q" type="text" />
      <input type="submit" value="Search site" />
    </form>
  </div>
</div>
