<div id="navigation">
  <a href="/index">Home</a>
  | <a href="/about-me#contact">Contact</a>
  | View <a href="https://github.com/riceissa/riceissa.com">website source</a> or <a href="https://raw.githubusercontent.com/riceissa/riceissa.com/master/$path$">page source</a> (<a href="/information-regarding-website-source-and-page-source">note</a>)
</div>

<div>
  <script>
    (function() {
      var cx = '003462416774124900295:n1z--2jnqbo';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:searchresults-only></gcse:searchresults-only>
</div>
