{#
  This template is in the public domain according to the Creative
  Commons CC0 Public Domain Dedication.  Please see
  https://creativecommons.org/publicdomain/zero/1.0/ for more.
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="refresh" content="0;URL={{ location }}">
  <title>Alias for {{ title }} | Issa Rice</title>
</head>
<body>
  <p>This is a redirection page.
  The actual page is available at <a href="{{ location }}">{{ title }}<a>.</p>
</body>
</html>
