<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/css/minimal.css" />
  <title>$title$</title>
  $if(math)$
  $math$
  $endif$
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54798318-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>

$partial("templates/navbar.html")$

<div id="content">
<h1>$title$</h1>

$body$

$if(license)$
<p>$license$</p>
$endif$

$if(tags)$
<p>Tags: $tags$.</p>
$else$
absolutely fine.
$endif$
</div>

</body>
</html>
